.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.nav-items ul {
  display: flex;
  align-items: center;
}

.nav-items ul li {
  list-style: none;
  padding: 5px;
  margin: 5px;
}

.SearchBar {
  margin: 10px;
}
.res-card-container h3,
h4 {
  margin: 8;
}

.res-card-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  width: 180px;
  padding: 10px;
  margin: 10px;
  background-color: #f0f0f0;
}

.res-card:hover {
  border: 1px solid black;
}

.res-card img {
  width: 100%;
}
