.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid black;
  margin-bottom: 10px;
}

.logo {
  width: 100px;
}

.nav-items ul {
  display: flex;
  align-items: center;
}

.nav-items ul li {
  list-style: none;
  padding: 5px;
  margin: 5px;
}

.SearchBar {
  margin: 10px;
}
.res-card-container h3,
h4 {
  margin: 8;
}

.res-card-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  width: 180px;
  padding: 10px;
  margin: 10px;
  background-color: #f0f0f0;
}

.res-card:hover {
  border: 1px solid black;
}

.res-card img {
  width: 100%;
}

.shimmer-cards {
  width: 180px;
  padding: 10px;
  margin: 10px;
  height: 400px;
  background-color: #f0f0f0;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.login {
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}

.filter {
  display: flex;
}

.Filter-btn {
  margin-left: 30px;
}

.link {
  color: black;
  text-decoration: none;
}

.user-card {
  width: 200px;
  display: inline-block;
  margin-left: 10px;
  flex-wrap: wrap;
  padding: 10px;
  border: 1px solid black;
}

.user-card img {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid black;
  width: 200px;
  object-fit: fill;
}
